<html>
    <head>
        <title>Ella's Blog</title>
    </head>
    <body>
        <h1>Itinerary Planner</h1>
        <p>You've decided where to go - now you need to work out how long to stay!</p>
        <br/>
        <em>Ready to get started?</em>
        <strong>Then, what are you waiting for?!!</strong>
        <br/>
        <h3>Steps to using this tool:</h3>
        <ul><li>Select your destination</li><li>Enter the number of days you think you'd like to spend there</li><li>Tick any boxes that reflect your interests when travelling</li><li>Click generate to produce your itinerary</li></ul>
        <br/>
        <p>*Not enough 'cool stuff' on your itinerary?</p>
        <p>Reduce the number of days for your location or include more interests in your selection before hitting the generate button again</p>
        <br/>
        <p>This site was made with the care and attention of <a href="https://djangogirls.org">Django Girls</a></p>
    </body>
</html>

